/* Importação da Fonte */
@font-face {
    font-family: 'Bebas Neue';
    src: url(../assets/Fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: 'Opens Sans';
    src: url(../assets/Fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Classes */
.grid-layout {
    max-width: 1200px; /* Tamanho maximo da imagem */
    width: 100%; /* Tamanho de 100% */
    height: 100%; /* 100% de altura da imagem */
    margin: 0 auto;
}

body {
    background-color: #080324;
}

/* ===Header=== */
header {
    background-color: #F9003D;
    height: 60px;
    width: 100%;
}

header .header-flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;  
}

header nav {
    display: flex;
    justify-content: space-between;
    width: 600px; 
}

header nav a{
    padding: 15px 25px; /* Espaçamento interno */
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    font-family: 'Bebas Neue';
}

header nav a:hover {
    background-color: white;
    color: #F9003D;
}

/* ===Main=== */
/* Imagem de fundo */
main .banner {
    color: white;
    width: 100%;
    height: 740px;
    background-image: url(../assets/img/imagem-fundo-banner.png); /* URL da imagem */
    background-repeat: no-repeat; /* A imagem não repete */
    background-size: cover; /* Tamanho da imagem */
    background-position: bottom; /* Posição da imagem */
}

/* Flexbox */
main .banner-flex {
    display: flex;
    align-items: center;
}

/* Texto */
main .banner #banner-info {
    width: 545px;
}

/* Titulo h1 */
main .banner h1 {
    font-size: 96px;
    font-family: 'Bebas Neue';
    font-weight: 100;
    border-bottom: 1px solid #FFAF00;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

/* Hover titulo h1 */
main .banner h1:hover {
    color: whitesmoke;
    text-shadow: 0px 10px 10px black;
}

/* paragrafo */
main .banner p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 53px;
    font-weight: bold;
    color: #F9003D;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 30px;
}

/* Main -> Seção */
main section .section-flex {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    /* border: yellow solid 2px; */
    height: 617px;
    width: 1200px;
}

/* ----section-info-1---- */
/* Borda da section-info-1 */
/* main section #section-info-1 {
    border: cyan solid 2px;
} */

/* Imagem section-info-1 */
main section #section-info-1 img {
    width: 490px;
    height: 476px;
}

/* Titulo h2 da sectio-info-1 */
main section #section-info-1 h2 {
    padding: 25px 0 20px;
    font-size: 64px;
    font-family: 'Bebas Neue';
    font-weight: 100;
    color: #F9003D;
}

/* ----section-info-2---- */
/* borad da section-info-2 */
/* main section #section-info-2 {
    border: red solid 2px;
} */

/* Titulo h3 section-info-2 */
main section #section-info-2 h3 {
   color: white;
   font-size: 24px;
   font-weight: bold;
   font-family: 'Courier New', Courier, monospace;
}

/* Titulo h2 section-info-2 */
main section #section-info-2 h2 {
    padding: 50px 0 50px;
    width: 557px;
    font-size: 64px;
    font-family: 'Bebas Neue';
    font-weight: 100;
    color: #FFAF00;
}

/* paragrafo section-info-2 */
main section #section-info-2 p {
    width: 592px;
    font-family: 'Opens Sans';
    color: white;
}

/* ===Rodapé=== */
footer {
    background-image: url(../assets/img/imagem-fundo-endereco.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 598px;
}

footer .footer-flex {
    border: red solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;

}

footer .center {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .endereco {
    border: #FFAF00 solid 2px;
    width: 899px;
    height: 289px;
}

footer h1 {
    font-size: 64px;
    font-weight: 100;
    font-family: 'Bebas Neue';
    color: #FFAF00;
}

footer .endereco p {
    display: flex;
    justify-content: center;
    background-color: #010010;
    border: #340B65 solid 2px;
    width: 899px;
    height: 203px;
    color: #A259F7;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    padding: 50px 0 50px;
}

footer .endereco p img

footer #cop {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F9003D;
    height: 82px;
    width: 100%;
}

footer #cop p {
    font-family: 'Opens Sans';
    font-size: 18px;
    color: white;
}