@font-face {
    font-family: 'Bebas Neue';
    src: url(../assets/Fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Classes */
.grid-layout {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

body {
    background-color: #080324;
}

/* Header */
header {
    background-color: #F9003D;
    height: 60px;
    width: 100%;
}

header .header-flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;  
}

header nav {
    display: flex;
    justify-content: space-between;
    width: 600px;
}

header nav a{
    padding: 15px 25px;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    font-family: 'Bebas Neue';
}

header nav a:hover {
    background-color: white;
    color: #F9003D;
}

/* Main */
main .banner {
    color: white;
    width: 100%;
    height: 740px;
    background-image: url(../assets/img/imagem-fundo-banner.png);
    background-repeat: no-repeat;
}